<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <h1>Edit</h1>
    <ul>
        <% todo.forEach( el => { %>
            <% if (el._id == idTask) { %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <form action="/todo/edit/<%= el._id %>" method="POST">
                        <input type="text" value="<%= el.todo %>" name="todo">
                        <button type="submit" class="confirm">Confirm</button>
                        <a href="/todo" class="cancel">Cancel</a>
                    </form>
                </li>
            <% } else { %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                    <a href="/todo/edit/<%= el._id %>" class="edit">
                        <span class='edit'>Edit</span>
                    </a>
                </li>
            <% } %>

        <% }) %>    
    </ul>
    

    <script src="../../js/main.js"></script>
</body>
</html>